 body{
 
	 padding : 0;
	 margin : 0; 
	 font-family: 'Open Sans', sans-serif;
 }

header{
	width : 100%; 
	background-color : #89E6BB;
}

 .header {

 	background-color : #89E6BB;
	padding  : 0 100px; 
 }
 
 .home{
 background-color : #89E6BB;
 	float : left; 
 }
 
 .home img{	 
	 width : 10%;
	 height : 100px; 
 }
 
 .right-header {
 	background-color : #89E6BB;
	 float : right;
    padding : 20px 0px;	 
 }

 
 .right-header ul li{
	 list-style : none; 
	display : inline; 
	padding : 0px 10px; 

 }
 
 .right-header ul li a{
	color : #fff;
	border : 1px solid #fff; 
	border-radius : 5px;
	size : 10x; 
	text-decoration : none; 
	transition : all 0.3s ease 0s;
	padding :  10px;  
 }
 
 .right-header ul li a:hover{
	color : #89E6BB;
	background-color : #fff;
 }
 
.body__1 .image__top img{
 
	width : 100%; 
}

.body__2 {
	position : relative; 
	overflow : hidden; 
}

.body__2 .up {
	float : left;
	color : #969796; 
	width : 30%;
	margin  : 10px 8%;
	text-align : justify; 
}

.body__2 .right {
	width : 47%;
	float : right;
	margin  : 10px 20px;
}

.body__2 .right h1{
	color: #1C794E;
	
}
	
.body__2 .right label{
	color: #1C794E;
	margin : 5px;
	padding : 10px; 
}

.body__2 .right select{
	margin : 10px 10px 10px 10px; 
	padding : 5px; 
	border : 1px solid #89E6BB;
	border-radius : 5px;

}

.body__2 .right input{
	margin : 10px 10px 10px 10px; 
	padding : 5px; 
	border : 1px solid #89E6BB;
	border-radius : 5px;

}

.body__2 .right .submit input{
	margin : 10px 10px 10px 70px; 
	padding : 5px; 
	border : 1px solid #89E6BB;
	border-radius : 5px;
	background-color : #fff;
	transition : all 0.3s ease 0s;

}

.body__2 .right .submit input:hover{
	color : #1C794E;
	background-color : #89E6BB;

}

.proposer {
	overflow : hidden; 
	position : relative; 
	width : 100%; 
	height : 200px; 
	background-color : #079BEB; 
	text-align : center;
}

.proposer a{
	top : 100x; 
	position : relative; 
	text-align : center;
	color : #fff;
	border-radius : 5px;
	border : 1px solid #fff; 
	padding : 20px; 
	text-decoration : none; 
}

.proposer a:hover{
	background-color : #fff;
	transition : all 0.3s ease 0s;
	color : #079BEB;  
}

.Footer div{
	width : 100%; 
	margin : 5%; 
	display : inline-block; 
	box-sizing : border-box; 
	width : 15%; 
}


