<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="favicon.ico">
	<title>My House</title>
	<link href="https://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<header class="header">
		<div class="home">
			<a href="file:///Users/vireakchriv/Documents/Formation/Projet/MyHouse.html">My House</a>
		</div>
		<nav class="right-header">
			<ul>
				<li><a href="">S'inscrire</a></li>
				<li><a href="">Se connecter</a></li>
			</ul>
		</nav>
	</header>

	<section class="body__1">
		<div class="image__top">
			<img src="http://marta-club.ru/sites/default/files/uploads/shutterstock_30894127.jpg">
		</div>
	</section>

	<section class="body__2">
		<div class="up">
			<h1 class="texte__titre">MyHouse, l'application qui vous permet de vous faire livrer où vous voulez... ou presque.</h1>
			<p class="texte__contenu">Avec l'application MyHouse, faites-vous livrer n'importe où, n'importe quand. Inscrivez-vous et vous recevrez les colis de vos voisins, de vos amis ou de votre famille.</p>
		</div>

		<div class="right">
			<h1 class="rechercher__titre1">Où est-ce que je veux me faire livrer ?</h1>

			<p><label for="region">Région :</label>
			<br>
			<select name="name_region" size="1">
				<option>Auvergne-Rhônes-Alpes
				<option>Bourgogne-Franche-Comté
				<option>Bretagne
				<option>Centre-Val de Loire
				<option>Corse
				<option>Grand Est
				<option>Hauts de France
				<option>Ile de France
				<option>Normandie
				<option>Nouvelle-Aquitaine
				<option>Occitanie
				<option>Pays de la Loire
				<option>Provence-Alpes-Côte d'Azur
			</select>
			</p>

			<p><label for="department">Département :</label>
			<br>
			<select name="name_departement" size="1">
				<option>Ain
				<option>Aisne
				<option>Seine-et-Marne
				<option>Seine-Saint-Denis
				<option>
				<option>
			</select>
			</p>

			<p><label for="city">Ville :</label>
			<br><input type="text" id="ville" value="" placeholder="Ville">
			</p>
		</div>
		<div class="clear"></div>

		<div class="submit">
			<p><input type="submit" value="Valider"></p>
		</div>
		<hr>

		<div class="left">
			<a href="">PROPOSER MON ADRESSE DE LIVRAISON</a>
		</div>
	</section>

	<footer class="Footer" role="contentinfo">
		<div class="footer-inner">
			<nav class="footer-nav">
				<h3>A propos</h3>
				<ul>
					<li><a href="">Qui sommes-nous ?</a></li>
					<li><a href="">Nous rejoindre</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
			<nav class="footer-nav">
				<h3>Infos pratiques</h3>
				<ul>
					<li><a href="">Comment ça marche ?</a></li>
					<li><a href="">Les avis</a></li>
					<li><a href="">Foire aux questions</a></li>
				</ul>
			</nav>
			<h3>Auteurs :</h3>
				<p>JVM</p>
			<div class="footer-socials">
				<ul>
					<li><a href="" target="_blank" class="facebook">
						<img src="images/picto-facebook.png">
					</a></li>
					<li><a href="" target="_blank" class="twitter">
						<img src="images/picto-twitter.png">
					</a></li>
					<li><a href="" target="_blank" class="instagram">
						<img src="images/picto-instagram.png">
					</a></li>
					<li><a href="" target="_blank" class="youtube">
						<img src="images/picto-youtube.png">
					</a></li>
				</ul>
			</div>
		</div>
	</footer>


</body>
</html>